.user-info {
    display: flex;
    justify-content: space-between;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.user-caption {
    color: var(--caption-color);
    font-size: 1.75rem;
}

.user-info ul > li {
    font-size: 0.9rem;
}



