article ul > li {
    background: 1px center url("/img/paperclip-16x16.png") no-repeat;
    background-size: 1rem;
    padding-left: 20px;
    list-style: none;
    margin-top: 0.5em;
}

article .attachment {
    padding-inline-start: 0;
}

article {
    margin-right: 1rem;
}

article .title {
    color: var(--caption-color);
    font-size: 1.4rem;
    font-weight: bold;
}

article .information {
    color: darkgrey;
    font-size: 0.85rem;
}

.middle main article .body {
    border-left: 4px solid #b9b9b9;
    padding-left: 1rem;
}

article .footer .left .positive-score {
    color: darkgreen;
    font-weight: bold;
}

.attachment li {
    color: darkgrey;
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
}

article .footer {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0.2rem;
}

article .footer .right,
article .footer .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article .footer .left {
    padding: 0.1rem;
    width: 6rem;
}

article {
    margin-top: 1rem;
}

article .footer .right {
    padding: 0.24rem;
    width: 10rem;
}

