:root {
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

.captcha {
    position: absolute;
    width: 100%;
    top: 38%;
    text-align: center;
}

.captcha div {
    margin: 1rem 0;
}




